.content {
    padding: 40px 0;
  }
  .content__title {
    margin: 35px 0;
  }
  .content__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .active-content {
    display: flex;
  }
  .content__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }